<!-- <HomeSnippet> -->
    {% extends "main/layout.html" %}
    {% block content %}
    <div class="jumbotron">
      <div class="container">
        {% load custom_filters %}
        <h1>Confirmation</h1>
          <p>
            Click <b>Confirm</b> to proceed<br> 
            Click <b>Back</b> to cancel the vote
          </p>

          <p class="list-group-item"><b>{{category|disp}}</b></p>
          <p class="list-group-item"><b>Name:</b> {{candidate.username}}</p>
          <p class="list-group-item"><b>Batch:</b> {{candidate.batch_programme }}{{candidate.batch_year}}</p>
      
        <form method="post" action="" id="confirmForm">
          {% csrf_token %}
          <input type="hidden" name="vote" value="{{candidate.email}}">
          <input type="hidden" name="confirm" value="true">

          <a href="{% url 'vote' %}" class="btn btn-secondary btn-small col-lg-2 col-md-3" style="margin-top: 2%;">Back</a>
          <input type="button" id="submitVote" onclick="getval()" class="btn btn-success btn-large col-lg-2 col-md-3" style="margin-top: 2%" value="Confirm">
          
          <br>
        </form>
      </div>
    </div>

    <script type="text/javascript">

      getval = () => {
        document.getElementById('confirmForm').submit();
      }
    </script>
    {% endblock %}
    <!-- </HomeSnippet> -->